@import url('https://fonts.googleapis.com/css?family=Amiri');

@media (max-width:736px) {
    img {
        width: calc(100% - 50px);
    }
    body {
        width: 100%;
    }
}

.title {
    width: 50%;
    margin: auto;
    font-family: 'Amiri';
    font-size: 100px;
    text-align: center;
    color:black;
    
    

}


a:link {
    color: rgb(0, 191, 255);
}

a:visited {
    color: rgb(0, 191, 255);
}

.projects {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Amiri';
    color: rgb(0, 191, 255);
    border: 1px solid black;
    background-color: white;
}

.footer {
    margin: auto;
    width: 50%;
    
    
}


.bio {
    text-align: center;
    margin: auto;
    width: 50%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    font-family: 'Amiri';
    background-color: white;
    border: 1px solid black;
    
    
}


.mainPhoto {
    display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black; 
  
  
}

body {

    background-image: url("./Images/blueart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
    
    
    

}