@import url('https://fonts.googleapis.com/css?family=Amiri');
@media (max-width:736px) {
    img {
        width: calc(100% - 50px);
    }
    body {
        width: 100%;
    }
}

.title {
    margin: auto;
    font-family: 'Amiri';
    font-size: 100px;
    text-align: center;
    color: black;
    opacity: 0.8;
}

a:link {
    color: grey
}

a:visited {
    color: black;
}

.projects {
    margin: auto;
    width: 500px;
    text-align: center;
    font-family: 'Amiri';
    color: grey;
    background-color: white;
}

.footer {
    margin: auto;
    width: 50%;
}

.bio {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    font-family: 'Amiri';
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.contact {
    text-align: center;
    margin: auto;
    width: 500px;
    font-family: 'Amiri';
    background-color: white;
    border: 1px solid #1455F5;
}

.mainPhoto {
    display: block;
    margin: auto;
    float: right;
    margin-right: 350px;
    border: 2px solid #1455F5;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bandcamp {
    margin: auto;
    
    
}